*{
    margin: 0;
}
.head{
    height: 78px;
    width: 100%;
    background: black;
    margin-bottom: 20px;
}

/* 个人博客站点样式区 */
.article{
    margin-bottom: 20px;
}
.article-footer{
    margin-top: 5px;
}
.article-footer span{
    margin-right: 15px;
}
.article-footer span :first-child{
    margin-right: 5px;
}
.blog_title{
    margin-left: 20px;
    font-size: 20px;
}

/* 点赞或踩灭样式区 */
.up_down{
    height: 100px;
    margin-bottom: 100px;
}
.diggit {
    float: left;
    width: 46px;
    height: 52px;
    background: url('/static/imgs/upup.gif') no-repeat;
    text-align: center;
    cursor: pointer;
    margin-top: 2px;
    padding-top: 5px
}
.diggnum {
    font-size: 14px;
    color: #075db3;
}
.buryit {
    float: right;
    margin-left: 20px;
    width: 46px;
    height: 52px;
    background: url('/static/imgs/downdown.gif') no-repeat;
    text-align: center;
    cursor: pointer;
    margin-top: 2px;
    padding-top: 5px
}
.burynum {
    font-size: 14px;
    color: #075db3;
}
.diggword {
    margin-top: 5px;
    margin-left: 0;
    font-size: 12px;
    color: red;
    display:none;
}

/* 文章详情页 评论区样式 */
.comment-header{
    border-bottom:1px dotted rgb(204,204,204);
}
.comment-header>span{
    margin-right:15px;
}
.comment-content{
    padding:15px 0;
}
.list-group-item-text{
    margin: 0;
}