{% extends 'base.html' %}

{% block page-title %}
    <title>{{ blog.title }}&nbsp;-&nbsp;博客园</title>
{% endblock page-title %}

{% block page-css %}
    <link rel="stylesheet" href="/static/css/article.css">
    <link rel="stylesheet" href="/static/css/blog.css">
    <link rel="stylesheet" href="/media/theme/{{ blog.theme }}">
{% endblock page-css %}

{% block page-main %}
    {% csrf_token %}
    <a href="#"><h3>{{ article.title }}</h3></a>
    <!-- 文章详情内容 开始 -->
    {{ article.articledetail.content|safe }}
    <!-- 文章详情内容 结束 -->

    <!-- 点赞或踩灭 开始 -->
    <div class="up_down">
        <div id="div_digg">
            <!-- 点赞 开始 -->
            <div class="diggit digg">
                <span class="diggnum" id="digg_count">{{ article.up_count }}</span>
            </div>
            <!-- 点赞 结束 -->

            <!-- 踩灭 开始 -->
            <div class="buryit digg">
                <span class="burynum" id="bury_count">{{ article.down_count }}</span>
            </div>
            <!-- 踩灭 结束 -->

            <div class="clear"></div>

            <!-- 提示信息 开始 -->
            {#            <div class="diggword" id="digg_tips">请先<a href="/login/">登录</a>#}
            <div class="diggword" id="digg_tips">请先<a href="/login/?next={{ request.get_full_path }}">登录</a>
            </div>
            <!-- 提示信息 结束 -->

        </div>
    </div>
    <!-- 点赞或踩灭 结束 -->
{% endblock page-main %}

{% block page-js %}
    <script src="/static/js/setupAjax.js"></script>
    <script>
        // 给点赞和反对按钮绑定点击事件（用同一个类digg来绑定）
        $('.digg').click(function () {
            // 1. 首先判断有没有登录？
            if (!'{{ request.user.username }}') {
                // 如果没有登录就将提示信息显示出来
                $('#digg_tips').show();
            }

            // 已经登录可以点赞或踩灭
            let userId = '{{ request.user.id }}';    // 谁 点赞或踩灭
            let articleId = '{{ article.id }}';       // 给 哪一篇文章 点赞或踩灭

            // 如何区分是点赞还是踩灭？（通过查看标签中是否含有diggit类来区分是否为点赞）
            let isUp = $(this).hasClass('diggit');  // 是否为点赞
            // 向后端发请求
            $.ajax({
                url: '/upOrdown/',
                type: 'post',
                data: {
                    userId: userId,
                    articleId: articleId,
                    isUp: isUp,
                },
                success: function (res) {
                    console.log(res);
                    if (res.code === 1) {
                        // 不能给自己文章点赞或踩灭
                        $('#digg_tips').show().text(res.msg);
                    } else {
                        if (res.code === 2) {
                            // 点赞过或踩灭过
                            $('#digg_tips').show().text(res.msg);
                        } else {
                            // 1. 先把点赞数或者踩灭数更新一下
                            if (isUp) {
                                // 更新点赞数
                                let $UpSpan = $('#digg_count');
                                $UpSpan.text(+$UpSpan.text() + 1);
                                // 2.a 再显示提示信息
                                $('#digg_tips').show().text(res.msg);
                            } else {
                                let $DownSpan = $('#bury_count');
                                $DownSpan.text(+$DownSpan.text() + 1);
                                // 2.b 再显示提示信息
                                $('#digg_tips').show().text(res.msg);
                            }
                        }
                    }
                }
            })
        })
    </script>
{% endblock page-js %}

