<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>文章管理后台</title>
    <link rel="stylesheet" href="/static/css/bootstrap.css">
</head>
<body>
<div class="container-fluid" style="margin-top: 70px">
    <div class="row">
        <!-- 左侧侧边栏 开始 -->
        <div class="col-md-2">
            <div class="panel panel-primary">
                <div class="panel-heading">操作</div>
                <div class="panel-body">
                    <a href="/blog/add_article/">添加新文章</a>
                </div>
            </div>
        </div>
        <!-- 左侧侧边栏 结束 -->

        <!-- 文章列表 开始 -->
        <div class="col-md-10">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>序号</th>
                        <th>标题</th>
                        <th>评论数</th>
                        <th>点赞数</th>
                        <th>操作</th>
                        <th>操作</th>
                    </tr>
                </thead>
                <tbody>
                    {% for article in article_list %}
                        <tr>
                            <td>{{ forloop.counter }}</td>
                            <td><a href="/blog/{{ article.user.username }}/article/{{ article.id }}/">{{ article.title }}</a></td>
                            <td>{{ article.comment_count }}</td>
                            <td>{{ article.up_count }}</td>
                            <td><a href="/blog/del_article/{{ article.id }}/">删除</a></td>
                            <td><a href="/blog/edit_article/{{ article.id }}/">编辑</a></td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        <!-- 文章列表 结束 -->
    </div>
</div>
</body>
</html>