{% extends 'base.html' %}

{% block page-title %}
    <title>{{ blog.title }}&nbsp;-&nbsp;博客园</title>
{% endblock page-title %}

{% block page-css %}
    <link rel="stylesheet" href="/static/css/article.css">
    <link rel="stylesheet" href="/static/css/blog.css">
    <link rel="stylesheet" href="/media/theme/{{ blog.theme }}">
{% endblock page-css %}

{% block page-main %}
    {% csrf_token %}
    <a href="#"><h3>{{ article.title }}</h3></a>
    <!-- 文章详情内容 开始 -->
    {{ article.articledetail.content|safe }}
    <!-- 文章详情内容 结束 -->

    <!-- 点赞或踩灭 开始 -->
    <div class="clearfix">
        <div class="up_down">
            <div id="div_digg">
                <!-- 点赞 开始 -->
                <div class="diggit digg">
                    <span class="diggnum" id="digg_count">{{ article.up_count }}</span>
                </div>
                <!-- 点赞 结束 -->

                <!-- 踩灭 开始 -->
                <div class="buryit digg">
                    <span class="burynum" id="bury_count">{{ article.down_count }}</span>
                </div>
                <!-- 踩灭 结束 -->

                <div class="clear"></div>

                <!-- 提示信息 开始 -->
                <div class="diggword" id="digg_tips">请先<a href="/login/?next={{ request.get_full_path }}">登录</a>
                </div>
                <!-- 提示信息 结束 -->

            </div>
        </div>
    </div>

    <!-- 点赞或踩灭 结束 -->

    <!-- 评论展示区 开始 -->
    <h4>评论：</h4>
    <div class="list-group comment-list">
        {% for comment in comment_list %}
            <div class="list-group-item" my-id="{{ comment.id }}">
                <h4 class="list-group-item-heading comment-header">
                    <span>{{ forloop.counter }}楼</span>
                    <span>{{ comment.create_time|date:'Y-m-d H:i' }}</span>
                    <span>{{ comment.user.username }}</span>
                    <span class="pull-right replay">回复</span>
                </h4>

                {% if comment.parent_comment %}
                    <span style="display: block">@{{ comment.parent_comment.user.username }}</span>
                    <p class="list-group-item-text well">
                        {{ comment.parent_comment.content }}
                    </p>
                {% endif %}


                <p class="list-group-item-text comment-content">
                    {{ comment.content }}
                </p>
            </div>
        {% endfor %}
    </div>
    <!-- 评论展示区 结束 -->

    <!-- 发表评论 开始 -->
    <h4>发表评论</h4>
    <div>
        <span>用户名：</span>
        <input type="text" value="{{ request.user.username }}" disabled>
    </div>
    <div>
        <p>发表评论：</p>
        <textarea name="" id="new-comment" cols="60" rows="10"></textarea>
    </div>
    <div>
        <button id="submit-comment" class="btn btn-success">提交</button>
    </div>
    <!-- 发表评论 结束 -->
{% endblock page-main %}

{% block page-js %}
    <script src="/static/js/setupAjax.js"></script>
    <script>
        // 给点赞和反对按钮绑定点击事件（用同一个类digg来绑定）
        $('.digg').click(function () {
            // 1. 首先判断有没有登录？
            if (!'{{ request.user.username }}') {
                // 如果没有登录就将提示信息显示出来
                $('#digg_tips').show();
            }

            // 已经登录可以点赞或踩灭
            let userId = '{{ request.user.id }}';    // 谁 点赞或踩灭
            let articleId = '{{ article.id }}';       // 给 哪一篇文章 点赞或踩灭

            // 如何区分是点赞还是踩灭？（通过查看标签中是否含有diggit类来区分是否为点赞）
            let isUp = $(this).hasClass('diggit');  // 是否为点赞
            // 向后端发请求
            $.ajax({
                url: '/upOrdown/',
                type: 'post',
                data: {
                    userId: userId,
                    articleId: articleId,
                    isUp: isUp,
                },
                success: function (res) {
                    console.log(res);
                    if (res.code === 1) {
                        // 不能给自己文章点赞或踩灭
                        $('#digg_tips').show().text(res.msg);
                    } else {
                        if (res.code === 2) {
                            // 点赞过或踩灭过
                            $('#digg_tips').show().text(res.msg);
                        } else {
                            // 1. 先把点赞数或者踩灭数更新一下
                            if (isUp) {
                                // 更新点赞数
                                let $UpSpan = $('#digg_count');
                                $UpSpan.text(+$UpSpan.text() + 1);
                                // 2.a 再显示提示信息
                                $('#digg_tips').show().text(res.msg);
                            } else {
                                let $DownSpan = $('#bury_count');
                                $DownSpan.text(+$DownSpan.text() + 1);
                                // 2.b 再显示提示信息
                                $('#digg_tips').show().text(res.msg);
                            }
                        }
                    }
                }
            })
        });

        // 给评论按钮绑定点击事件
        $('#submit-comment').click(function () {
            let userId = '{{ request.user.id }}';  // 谁评论的？
            let articleId = '{{ article.id }}'; // 评论了哪一些文章？
            let content = $("#new-comment").val();  // 评论了什么内容？
            let parentId = $(this).data('pid') || '';
            if (parentId) {
                content = content.slice(content.indexOf('\n') + 1,);
            }
            $.ajax({
                url: '/comment/',
                type: 'post',
                data: {
                    parent_id: parentId,
                    user_id: userId,
                    article_id: articleId,
                    content: content,
                },
                success: function (res) {
                    console.log(res);
                    if (res.code === 0) {
                        let data = res.data;

                        let num = $('.comment-list>div').length + 1;

                        // 创建评论成功，通过js在评论列表里添加一个新的评论
                        let commentHtml = `
                    <div class="list-group-item">
                        <h4 class="list-group-item-heading comment-header">
                            <span>${ num }楼</span>
                            <span>${ data.create_time }</span>
                            <span>${ data.username }</span>
                            <span class="pull-right replay">回复</span>
                        </h4>
                        <p class="list-group-item-text comment-content">
                            ${ data.content }
                        </p>
                    </div>
                    `;
                        console.log(commentHtml);
                        $('.comment-list').append(commentHtml);
                        // 清空textarea
                        $("#new-comment").val('');
                        $("#submit-comment").removeData('pid');
                    }
                },
                error: function (error) {
                    console.log(error);
                }
            })
        });
        
        // 给回复按钮绑定事件
        $('.comment-list').on('click','.replay',function () {
            // 1. 光标聚焦在评论框
            // 2. 添加一个@xxx的提示
            let replayName = $(this).prev().text();
            $('#new-comment').focus().val('@'+replayName+'\n');
            // 把当前评论的id值，偷偷存到提交按钮中
            let pID = $(this).parent().parent().attr('my-id');
            $('#submit-comment').data('pid',pID);
        })
    </script>
{% endblock page-js %}

