<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>set_password</title>
    {% load static %}
    <link rel="stylesheet" href="{% get_static_prefix %}libs/bootstrap-3.3.7-dist">
</head>
<body>
<div class="container body-box">
    <div class="hidden-xs title-top col-sm-12">
        密码
        <hr class="head-hr" >
    </div>
    <div class="form-wrap">
        <form action="/set_password/" method="post" class="form-horizontal col-sm-8 col-sm-offset-4 form-padding">
            {% csrf_token %}
            <div class="form-group">
                <label for="">旧密码</label>
                <input class="form-control" type="password" name="old_password">
            </div>
            <div class="form-group">
                <label for="">新密码</label>
                <input class="form-control" type="password" name="new_password">
                <span>8-30个字符，必须包含字母、数字、特殊字符</span>
            </div>
            <div class="form-group">
                <label for="">确认密码</label>
                <input class="form-control" type="password" name="repeat_password">
            </div>
            <div class="form-group">
                <button type="submit">保存</button>
            </div>
        </form>
    </div>

</div>

</body>
</html>